<!DOCTYPE html>
<html lang="en">

<head>

    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <td><a href="/show" class="btn btn-primary btn-sm">Add New</a></td>
        <table class="table table.bordered table.border text-center shadow"></table>
        <table id="tablify" class="tablify" border="1" cellspacing="0" cellpadding="0">
        <tr>
            <th>objectID</th>
            <th>isHighlight</th>
            <th>accessionNumber</th>
            <th>accessionYear</th>
            <th>isPublicDomain</th>
            <th>primaryImage</th>
            <th>primaryImageSmall</th>
            <th>additionalImages</th>
            <th>constituents.0.constituentID</th>
            <th>constituents.0.role</th>
            <th>constituents.0.name</th>
            <th>constituents.0.constituentULAN_URL</th>
            <th>constituents.0.constituentWikidata_URL</th>
            <th>constituents.0.gender</th>
            <th>department</th>
            <th>objectName</th>
            <th>title</th>
            <th>culture</th>
            <th>period</th>
            <th>dynasty</th>
            <th>reign</th>
            <th>portfolio</th>
            <th>artistRole</th>
            <th>artistPrefix</th>
            <th>artistDisplayName</th>
            <th>artistDisplayBio</th>
            <th>artistSuffix</th>
            <th>artistAlphaSort</th>
            <th>artistNationality</th>
            <th>artistBeginDate</th>
            <th>artistEndDate</th>
            <th>artistGender</th>
            <th>artistWikidata_URL</th>
            <th>artistULAN_URL</th>
            <th>objectDate</th>
            <th>objectBeginDate</th>
            <th>objectEndDate</th>
            <th>medium</th>
            <th>dimensions</th>
            <th>measurements</th>
            <th>creditLine</th>
            <th>geographyType</th>
            <th>city</th>
            <th>state</th>
            <th>county</th>
            <th>country</th>
            <th>region</th>
            <th>subregion</th>
            <th>locale</th>
            <th>locus</th>
            <th>excavation</th>
            <th>river</th>
            <th>classification</th>
            <th>rightsAndReproduction</th>
            <th>linkResource</th>
            <th>metadataDate</th>
            <th>repository</th>
            <th>objectURL</th>
            <th>tags</th>
            <th>objectWikidata_URL</th>
            <th>isTimelineWork</th>
            <th>GalleryNumber</th>
            <th>constituents</th>
            <th>measurements.0.elementName</th>
            <th>measurements.0.elementDescription</th>
            <th>measurements.0.elementMeasurements.Diameter</th>
        </tr>
        <% data.forEach(function(ele){   %>
            <tr>
                <td><a href="/delete/<%= ele.objectID %>" class="btn btn-danger btn-sm">Delete</a></td>
                <td><a href="/edit/<%= ele.objectID %>" class="btn btn-success btn-sm">Edit</a></td>
            
        <tr>
            
            <td><%= ele.objectID %></td>
            <td><%= ele.isHighlight %></td>
            <td><%= ele.accessionNumber %></td>
            <td><%= ele.accessionYear %></td>
            <td><%= ele.isPublicDomain %></td>
            <td><%= ele.primaryImage %></td>
            <td><%= ele.primaryImageSmall %></td>
            <td><%= ele.additionalImages %></td>
            <td><%= ele.constituents_constituentID %></td>
            <td><%= ele.constituents_role %></td>
            <td><%= ele.constituents_name %></td>
            <td><%= ele.constituents_constituentULAN_URL %></td>
            <td><%= ele.constituents_constituentWikidata_URL %></td>
            <td><%= ele.constituents_gender %></td>
            <td><%= ele.department %></td>
            <td><%= ele.objectName %></td>
            <td><%= ele.title %></td>
            <td><%= ele.culture %></td>
            <td><%= ele.period %></td>
            <td><%= ele.dynasty %></td>
            <td><%= ele.reign %></td>
            <td><%= ele.portfolio %></td>
            <td><%= ele.artistRole %></td>
            <td><%= ele.artistPrefix %></td>
            <td><%= ele.artistDisplayName %></td>
            <td><%= ele.artistDisplayBio %></td>
            <td><%= ele.artistSuffix %></td>
            <td><%= ele.artistAlphaSort %></td>
            <td><%= ele.artistNationality %></td>
            <td><%= ele.artistBeginDate %></td>
            <td><%= ele.artistEndDate %></td>
            <td><%= ele.artistGender %></td>
            <td><%= ele.artistWikidata_URL %></td>
            <td><%= ele.artistULAN_URL %></td>
            <td><%= ele.objectDate %></td>
            <td><%= ele.objectBeginDate %></td>
            <td><%= ele.objectEndDate %></td>
            <td><%= ele.medium %></td>
            <td><%= ele.dimensions %></td>
            <td><%= ele.measurements %></td>
            <td><%= ele.creditLine %></td>
            <td><%= ele.geographyType %></td>
            <td><%= ele.city %></td>
            <td><%= ele.state %></td>
            <td><%= ele.county %></td>
            <td><%= ele.country %></td>
            <td><%= ele.region %></td>
            <td><%= ele.subregion %></td>
            <td><%= ele.locale %></td>
            <td><%= ele.locus %></td>
            <td><%= ele.excavation %></td>
            <td><%= ele.river %></td>
            <td><%= ele.classification %></td>
            <td><%= ele.rightsAndReproduction %></td>
            <td><%= ele.linkResource %></td>
            <td><%= ele.metadataDate %></td>
            <td><%= ele.repository %></td>
            <td><%= ele.objectURL %></td>
            <td><%= ele.tags %></td>
            <td><%= ele.objectWikidata_URL %></td>
            <td><%= ele.isTimelineWork %></td>
            <td><%= ele.GalleryNumber %></td>
            <td><%= ele.constituents %></td>
            <td><%= ele.measurements_elementName %></td>
            <td><%= ele.measurements_elementDescription %></td>
            <td><%= ele.measurements_elementMeasurements_Diameter %></td>
            
        </tr>
        
    </tr>
        
        <% }); %>
        </table>

</body>

</html>